<div
  class="smooth-scroll min-h-screen w-full bg-gray-300 dark:bg-stone-900 page-padding"
>
  <stars-header route="/blog"></stars-header>

  <!-- Hero Section -->
  <section class="hero">
    <div class="pt-16 pb-16">
      <img
        [src]="postData.image"
        alt="starsbit header banner"
        class="banner object-cover w-full h-64 mx-auto relative rounded-2xl shadow-2xl"
      />
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div
        class="name text-3xl font-sans dark:text-white text-black mb-4 md:mb-0"
      >
        {{ postData.title }}
      </div>
      <div class="tags">
        @for (tag of postData.tags; track $index) {
        <span
          class="text-sm dark:bg-gray-200 dark:hover:bg-gray-400 bg-gray-800 hover:bg-gray-600 dark:text-gray-700 dark:hover:text-gray-900 text-gray-300 hover:text-gray-100 px-2 py-1 rounded-full mr-2 mb-1 mt-1 leading-none align-middle cursor-pointer"
          (click)="onTagClick(tag)"
        >
          {{ tag }}
        </span>
        }
      </div>
    </div>
  </section>

  <hr class="splitter my-8 border-t border-gray-700 dark:border-gray-300" />

  <section
    class="post pt-16"
    [ngClass]="postData.sources.length > 0 ? '' : 'pb-16'"
  >
    @if (!markdownRendered) {
    <div class="flex justify-center items-center">
      <stars-loading [small]="true"></stars-loading>
    </div>
    }
    <markdown
      [src]="postData.file"
      (ready)="markdownRendered = true"
    ></markdown>
  </section>

  @if (postData.sources.length > 0) {
  <section class="sources pb-16">
    <h2 class="dark:text-white text-black">Sources</h2>
    <ul class="list-disc marker:text-black dark:marker:text-white pl-8">
      @for (source of postData.sources; track $index) {
      <li>
        <a
          [href]="source.url"
          target="_blank"
          class="text-lg dark:text-white text-black"
        >
          {{ source.title }}
        </a>
      </li>
      }
    </ul>
  </section>
  }

  <hr class="splitter my-8 border-t border-gray-700 dark:border-gray-300" />

  <section
    class="post-details text-lg font-sans dark:text-white text-black flex row-auto justify-between items-center"
  >
    <div class="date">
      {{ postData.date | date : "longDate" }}
    </div>
    <div class="author">
      <span>By </span>
      <span>{{ postData.author }}</span>
    </div>
  </section>

  <section class="links pt-16">
    <stars-social-links class="text-lg font-sans"></stars-social-links>
  </section>

  <stars-footer></stars-footer>
</div>
