@import "../../../../../styles/variables";

.post,
.sources {
  max-width: $blog-content-size;
  margin-left: auto;
  margin-right: auto;
}

:host .post ::ng-deep {
  color: $blog-dark-color;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

:host :host-context(.dark) .post ::ng-deep {
  color: $blog-light-color;
}

:host .post ::ng-deep hr {
  margin-top: 2rem;
  margin-bottom: 2rem;

  border-top-width: 1px;
  border-color: $blog-dark-bg;
}

:host :host-context(.dark) .post ::ng-deep hr {
  border-color: $blog-light-bg;
}

:host .post ::ng-deep table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

:host .post ::ng-deep th,
:host .post ::ng-deep td {
  border-bottom: 1px solid $blog-dark-bg; // Adjust the color as needed
  padding: 8px;
}

:host .post ::ng-deep th {
  border-bottom: 3px solid $blog-dark-bg; // Thicker top border for the header
}

:host :host-context(.dark) .post ::ng-deep th,
:host :host-context(.dark) .post ::ng-deep td {
  border-bottom: 1px solid $blog-light-bg; // Adjust the color for dark mode
}

:host :host-context(.dark) .post ::ng-deep th {
  border-bottom: 3px solid $blog-light-bg; // Thicker top border for the header in dark mode
}

:host .post ::ng-deep a,
a {
  text-decoration: underline dotted;
  color: $blog-dark-bg;

  &:hover {
    text-decoration: underline solid;
    color: $blog-dark-color;
    font-weight: bold;
  }
}

:host :host-context(.dark) .post ::ng-deep a,
:host-context(.dark) a {
  text-decoration: underline dotted;
  color: $blog-light-bg;

  &:hover {
    text-decoration: underline solid;
    color: $blog-light-color;
    font-weight: bold;
  }
}

:host .post ::ng-deep img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

:host .post ::ng-deep ol {
  margin-bottom: 12px;
}

:host .post ::ng-deep h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep h2,
h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep h3,
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $blog-code-bg;
  border-radius: 0.5rem;
  overflow-x: auto;
}

:host .post ::ng-deep blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $blog-light-blockquote-bg;
  border-left: 0.25rem solid $blog-light-blockquote-border;
  border-radius: 0.5rem;

  // last p child has no margin
  p:last-child {
    margin-bottom: 0;
  }
}

:host :host-context(.dark) .post ::ng-deep blockquote {
  background-color: $blog-dark-blockquote-bg;
  border-left: 0.25rem solid $blog-dark-blockquote-border;
}

.page-padding {
  padding-top: 6%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
  hyphens: auto;
  text-align: justify;
}
