@import "../../../../../styles/variables";

.post,
.sources {
  max-width: $blog-content-size;
  margin-left: auto;
  margin-right: auto;
}

:host .post ::ng-deep {
  color: $blog-dark-color;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

:host :host-context(.dark) .post ::ng-deep {
  color: $blog-light-color;
}

:host .post ::ng-deep hr {
  margin-top: 2rem;
  margin-bottom: 2rem;

  border-top-width: 1px;
  border-color: $blog-dark-bg;
}

:host :host-context(.dark) .post ::ng-deep hr {
  border-color: $blog-light-bg;
}

:host .post ::ng-deep a,
a {
  text-decoration: underline dotted;
  color: $blog-dark-bg;

  &:hover {
    text-decoration: underline solid;
    color: $blog-dark-color;
    font-weight: bold;
  }
}

:host :host-context(.dark) .post ::ng-deep a,
:host-context(.dark) a {
  text-decoration: underline dotted;
  color: $blog-light-bg;

  &:hover {
    text-decoration: underline solid;
    color: $blog-light-color;
    font-weight: bold;
  }
}

:host .post ::ng-deep img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

:host .post ::ng-deep h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep h2,
h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep h3,
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host .post ::ng-deep pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $blog-code-bg;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.page-padding {
  padding-top: 6%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
  hyphens: auto;
  text-align: justify;
}
