<div
  class="smooth-scroll min-h-screen w-full bg-gray-300 dark:bg-stone-900 page-padding"
>
  <stars-header route="/"></stars-header>

  <main>
    <!-- Hero Section -->
    <section class="hero">
      <div class="pt-16 pb-16">
        <img
          ngSrc="/assets/images/banner.png"
          width="2560"
          height="750"
          priority
          alt="starsbit header banner"
          class="banner object-contain mx-auto relative rounded-2xl shadow-2xl"
        />
      </div>
      <div
        class="name text-3xl font-sans dark:text-white text-black flex row-auto"
      >
        <p class="font-bold p-1">stars</p>
        <p class="p-1">//</p>
        <p class="p-1">blog</p>
      </div>

      <div class="description text-lg font-sans dark:text-white text-black">
        <p>
          "It is more ridiculous for man to exceed the speed of light, than for
          fish to live ashore."
        </p>
      </div>
    </section>

    <hr class="splitter my-8 border-t border-gray-700 dark:border-gray-300" />

    <!-- Blog Posts -->
    <section class="blog-posts flex flex-wrap">
      <!-- Tags Section -->
      <div class="tags w-full md:w-2/5 flex flex-col">
        <h2 class="text-2xl font-sans dark:text-white text-black">Tags</h2>

        @for (tag of allTags; track $index) {
        <span
          class="non-copyable text-lg dark:bg-gray-200 bg-gray-800 dark:text-gray-700 text-gray-300 px-4 py-2 mb-4 rounded-full leading-none align-middle transform transition-transform duration-300 hover:scale-105 cursor-pointer"
          (click)="filterPosts(tag)"
          [ngClass]="{
            '!bg-gray-400 !text-gray-700 !dark:bg-gray-400':
              tag === selectedFilter
          }"
        >
          {{ tag }}
        </span>
        }
      </div>

      <!-- Recent Posts Section -->
      <div class="w-full md:w-3/5 md:pl-8">
        <h2 class="text-2xl font-sans dark:text-white text-black">
          Recent Posts
        </h2>

        @for (post of filteredPosts; track $index) {
        <stars-blog-post-card [postData]="post"></stars-blog-post-card>
        }
      </div>
    </section>

    <!-- About Section -->
    <section class="about pt-16">
      <stars-social-links></stars-social-links>
    </section>

    <!-- Footer -->
    <stars-footer></stars-footer>
  </main>
</div>
