<div class="relative overflow-hidden">
  @if (link) {
  <div class="group">
    <a [href]="link" target="_blank">
      <img
        [src]="thumbnail"
        alt="Primary Image"
        class="w-full h-auto object-cover transition duration-500 ease-in-out transform group-hover:translate-x-full"
      />
    </a>
    <a [href]="link" target="_blank">
      <img
        [src]="thumbnailSecond"
        alt="Secondary Image"
        class="absolute inset-0 w-full h-auto object-cover transition duration-500 ease-in-out transform -translate-x-full group-hover:translate-x-0"
      />
    </a>
  </div>
  <div class="p-4">
    <a [href]="link" target="_blank">
      <h2
        class="text-lg font-semibold dark:text-white text-black hover:underline"
      >
        {{ title }}
      </h2>
    </a>
    <p class="text-sm dark:text-gray-300">{{ description }}</p>
  </div>
  } @else if (route) {
  <div class="group">
    <a [routerLink]="route">
      <img
        [src]="thumbnail"
        alt="Primary Image"
        class="w-full h-auto object-cover transition duration-500 ease-in-out transform group-hover:translate-x-full"
      />
    </a>
    <a [routerLink]="route">
      <img
        [src]="thumbnailSecond"
        alt="Secondary Image"
        class="absolute inset-0 w-full h-auto object-cover transition duration-500 ease-in-out transform -translate-x-full group-hover:translate-x-0"
      />
    </a>
  </div>
  <div class="p-4">
    <a [routerLink]="route">
      <h2
        class="text-lg font-semibold dark:text-white text-black hover:underline"
      >
        {{ title }}
      </h2>
    </a>
    <p class="text-sm dark:text-gray-300">{{ description }}</p>
  </div>
  }
</div>
