<header
  class="header flex justify-between items-start dark:dark:text-white text-black text-2xl"
>
  @if (backIcon) {
  <button [routerLink]="this.route || '/'">
    <i class="material-icons header-item">arrow_back</i>
  </button>
  } @else {
  <div
    class="copyright-header font-bold font-sans header-item"
    [routerLink]="this.route || '/'"
    [ngClass]="{ 'hover:underline cursor-pointer': route }"
  >
    STARSBIT—{{ copyrightYear }}
  </div>
  }

  <button (click)="toggleDarkmode()">
    @if (!themeService.darkmode) {
    <i class="material-icons header-item">dark_mode</i>
    } @else {
    <i class="material-icons header-item">light_mode</i>
    }
  </button>
</header>
