<div
  class="smooth-scroll min-h-screen w-full bg-gray-300 dark:bg-stone-900 page-padding"
>
  <stars-header class="header"></stars-header>

  <main>
    <section class="pb-48">
      <div class="h-1/4 pt-36 pb-24">
        <img
          [ngSrc]="imageSource"
          width="750"
          height="312"
          priority
          alt="starsbit logo"
          class="logo object-contain mx-auto"
          [ngClass]="{ 'spin-animation': spin }"
          (click)="spinLogo()"
        />
      </div>
      <div
        class="name text-3xl font-sans dark:text-white text-black flex row-auto"
      >
        <p class="font-bold p-1">stars</p>
        <p class="p-1">//</p>
        <p class="p-1">starsbit</p>
      </div>

      <div class="description text-lg font-sans dark:text-white text-black">
        <p class="description-item">
          <strong>software engineer</strong>, algorithm researcher
        </p>
        <p class="description-item">
          currently working on <strong>space</strong> stuff
        </p>
        <p class="description-item">
          for my <strong>blog</strong>, all opinions are my own
        </p>
        @if (isProduction) {
        <p class="description-item flex items-center">
          number of visitors:
          <img
            src="https://www.counter12.com/img-b7xB9dZ94a1zaCww-29.gif"
            border="0"
            alt="counter"
            class="ml-2"
          />
          <script
            type="text/javascript"
            src="https://www.counter12.com/ad.js?id=b7xB9dZ94a1zaCww"
          ></script>
        </p>
        } @if(themeService.darkmode) {
        <p class="description-item">
          interface looks best in <strong>light mode</strong>
        </p>
        }
      </div>
    </section>

    <hr class="splitter my-8 border-t border-gray-700 dark:border-gray-300" />

    <section class="projects pb-48">
      <h2
        class="projects-header text-2xl font-sans dark:text-white text-black mb-4"
      >
        CURRENT PROJECTS
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <stars-project
          description="Daily guess Blue Archive characters with attributes as clues. Blue Archive meets Wordle."
          title="Bardle"
          link="https://bardle.net/"
          thumbnail="assets/images/projects/bardle_initial.png"
          thumbnailSecond="assets/images/projects/bardle.png"
          class="project"
        ></stars-project>
        <stars-project
          description="Personal blog that contains various topics that I worked on."
          title="Blog"
          route="/blog"
          thumbnail="assets/images/projects/blog_initial.png"
          thumbnailSecond="assets/images/projects/blog.png"
          class="project"
        ></stars-project>
      </div>
    </section>

    <section>
      <stars-social-links></stars-social-links>
    </section>
    <stars-footer class="footer"></stars-footer>
  </main>
</div>
