<div class="social-links flex justify-center space-x-4 flex-wrap">
  <a
    href="https://twitter.com/starsbit1"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/x.svg"
      alt="X"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://ko-fi.com/starsbit"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/ko-fi.svg"
      alt="Ko-Fi"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <!-- <a
        href="https://discordid.netlify.app/?id=226376714974920704"
        target="_blank"
        [class]="socialLinkCssClass"
      >
        <img
          ngSrc="assets/images/social-logos/discord.svg"
          alt="Discord"
          width="40"
          height="40"
          [class]="svgFilterCssClass"
        />
      </a> -->
  <a
    href="https://steamcommunity.com/profiles/76561198162091272"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/steam.svg"
      alt="Discord"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://anilist.co/user/starsbit/"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/anilist.svg"
      alt="Anilist"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://github.com/starsbit"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/github.svg"
      alt="Github"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
</div>
