<div
  class="smooth-scroll min-h-screen w-full bg-gray-300 dark:bg-stone-900 page-padding"
>
  <header
    class="header flex justify-between items-start dark:dark:text-white text-black text-2xl"
  >
    <div class="copyright-header font-bold font-sans header-item">
      STARSBIT—{{ copyrightYear }}
    </div>
    <button (click)="toggleDarkmode()">
      @if (!themeService.darkmode) {
      <i class="material-icons header-item">dark_mode</i>
      } @else {
      <i class="material-icons header-item">light_mode</i>
      }
    </button>
  </header>

  <main>
    <!-- Hero Section -->
    <section class="hero">
      <div class="pt-16 pb-16">
        <img
          ngSrc="/assets/images/banner.png"
          width="2560"
          height="750"
          priority
          alt="starsbit header banner"
          class="banner object-contain mx-auto relative rounded-2xl shadow-2xl"
        />
      </div>
      <div
        class="name text-3xl font-sans dark:text-white text-black flex row-auto"
      >
        <p class="font-bold p-1">stars</p>
        <p class="p-1">//</p>
        <p class="p-1">blog</p>
      </div>

      <div class="description text-lg font-sans dark:text-white text-black">
        <p>
          "By understanding the incomprehensibility of others, can we understand
          ourselves?"
        </p>
      </div>
    </section>

    <!-- Blog Posts -->
    <section class="blog-posts">
      @for (post of posts; track $index) {
      <stars-blog-post-card [post]="post"></stars-blog-post-card>
      }
    </section>

    <!-- About Section -->
    <section class="about">
      <stars-social-links></stars-social-links>
    </section>

    <!-- Footer -->
    <footer>
      <stars-footer></stars-footer>
    </footer>
  </main>
</div>
