.page-padding {
  padding-top: 6%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.smooth-scroll {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.spin-animation {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
